body {
    background-color: rgb(248, 246, 246);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    color: darkgray;
    text-decoration: none;
    padding: 10px;
    margin: 5px; /* Add margin for spacing between buttons */
    /* border: 1px solid rgb(127, 9, 9); Add border for a button-like appearance */
    border-radius: 5px; /* Optional: Add rounded corners for a button-like appearance */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for a smooth hover effect */
    width: 400px;
    text-align: left;
    align-items: center;
  }

  .input-field-desc {
    color: darkgray;
    text-decoration: none;
    padding: 10px;
    margin: 5px; /* Add margin for spacing between buttons */
    border: 1px solid rgb(127, 9, 9); /* Add border for a button-like appearance */
    border-radius: 5px; /* Optional: Add rounded corners for a button-like appearance */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for a smooth hover effect */
    width: 600px;
    text-align: left;
  }

  .heading {
    font-size: large;
    font-style: bold;
    color: black;
    text-align: center;
  }

  .desc {
    font-size: medium;
    color: darkgray;
    text-align: left;
  }

  .submit{
    color: red;
    text-align: center;
  }
  #losses {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #losses td, #losses th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #losses tr:nth-child(even){background-color: #f2f2f2;}
  
  #losses tr:hover {background-color: #ddd;}
  
  #losses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(127, 9, 9);
    color: white;
  }

  .menu_option {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px; /* Add margin for spacing between buttons */
    border-radius: 5px; /* Optional: Add rounded corners for a button-like appearance */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for a smooth hover effect */
    width: 200px;
    text-align: center;
  }
  
  .text {
    color: rgb(241, 4, 4);
    text-decoration: none;
  }